@charset 'utf-8';

@import 'settings';
@import 'foundation';
//@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
//@include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
// @include foundation-accordion;
// @include foundation-accordion-menu;
// @include foundation-badge;
// @include foundation-breadcrumbs;
// @include foundation-button-group;
// @include foundation-callout;
// @include foundation-close-button;
// @include foundation-menu;
// @include foundation-menu-icon;
// @include foundation-drilldown-menu;
// @include foundation-dropdown;
// @include foundation-dropdown-menu;
// @include foundation-flex-video;
// @include foundation-label;
// @include foundation-media-object;
// @include foundation-off-canvas;
// @include foundation-orbit;
// @include foundation-pagination;
// @include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
// @include foundation-slider;
// @include foundation-sticky;
// @include foundation-reveal;
// @include foundation-switch;
// @include foundation-table;
// @include foundation-tabs;
// @include foundation-thumbnail;
// @include foundation-title-bar;
// @include foundation-tooltip;
// @include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
//@include foundation-flex-classes;

// @include motion-ui-transitions;
// @include motion-ui-animations;

@import 'variables';

.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
   min-height: 510px;
}

body {
  background-color: #F2F2F2;
  font-family: $open-sans;
}
p, ul li, ol li {
  color: #555;
}
input[type="text"], input[type="submit"] {
  height: 51px;
}
input[type="text"] {
  border: 1px solid $dark-blue;
}
input[type="submit"] {
  background-color: $dark-blue;
  color: #fff;
  text-transform: uppercase;
  font-family: $montserrat;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #444!important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #444!important;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #444!important;
}
:-moz-placeholder { /* Firefox 18- */
  color: #444!important;
}
.main-banner-bg {
  border-top: 8px solid $red;
  background-color: $dark-blue;
  background: url('../../dist/images/main-banner-bg.jpg') no-repeat top left;
  background-size: cover;
  min-height: 510px;
}
.main-banner {
  padding: 1rem 1.5rem;
}
.logo {
  display: block;
  width: 132px;
  margin: 0 auto 1rem auto;
  @include breakpoint(medium) {
    margin: .25rem 0 .5rem 0;
  }
}
.main-message {
  font-family: $montserrat;
  color: #fff;
  font-size: 36px;
  line-height: 38px;
  padding: .5rem 0;
  @include breakpoint(medium) {
    font-size: 50px;
    line-height: 50px;
  }
  @include breakpoint(large) {
    font-size: 66px;
    line-height: 66px;
  }
}
.main-message-desc {
  color: #fff;
  font-size: 18px;
  padding: .5rem 0 .75rem 0;
}
.main-banner__form {
  border: 1px solid rgba(255,255,255,.35);
  padding: 1rem 1rem 0 1rem;
  margin: 0;
}
.main-banner__form .columns {
  padding: 0 3px;
}
.main-banner__form > .row {
  margin-left: 0;
  margin-right: 0;
}
.form__desc {
  color: #fff;
}

.main-content-wrapper {
  background-color: #fff;
  border: 1px solid #dfdfdf;
  border-top: 6px solid #C82027;
  @include breakpoint(medium) {
    position: relative;
    //top: -80px;
  }
}
.main-content-wrapper {
  .columns {
    padding: 1rem 1rem;
  }
}
.left-col {
  border-right: 1px solid #dfdfdf;
}
.section-title {
  color: $red;
  font-family: $montserrat;
  font-size: 24px;
}
.subsection-title {
  font-family: $montserrat;
  font-weight: 500;
  font-size: 20px;
  color: #3F6195;
}
.sm-subsection-title {
  font-family: $montserrat;
  font-weight: 500;
  font-size: 14px;
  color: #3F6195;
  padding: 0;
  margin-bottom: .25rem;
}
.icon-facebook {
  background: url('../../dist/images/icon-fb.png') no-repeat 0 2px;
  padding-left: 23px;
}
.icon-email {
  background: url('../../dist/images/icon-email.png') no-repeat 0 3px;
  padding-left: 28px;
}
.icon-fone {
  background: url('../../dist/images/icon-phone.png') no-repeat 0 0px;
  padding-left: 18px;
}
.footer {
  padding: 20px 0 0 0;
}
.right-col {
  p {
    font-size: 14px;
  }
  .subsection-title {
    font-size: 16px;
  }
}
.photo-julio {
  width: 142px;
  margin: .5rem auto 1rem auto;
  display: block;
}
.cta-curso-intensivo {  
  width: 614px;
  margin: 0 auto;
  display: block;
}
